html, body {
  color: white;
  font-family: Montserrat;
  background: black;
  margin: 0;
  height: 100%;
  width: 100%;
}
::selection {
  color: black;
  background: #ff0035;
}

.dropbtn {
  font-family: montserrat;
  background: none;
  color: white;
  padding: 10px;
  font-size: 17px;
  border: 1px solid white;
  cursor: pointer;
  margin-bottom: 0;
  margin-top: 30px;
  margin-left: 50px;
  border-radius: 5px;
  font-weight: 400;
  transition-duration: 0.4s;
  width: 300px;
  z-index: 1;
  user-select: none;
}


/* Dropdown button on hover & focus */

.dropbtn:hover, .dropbtn:focus {
  background: white;
  color: black;
}

.dropbtn:focus{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transition-duration: 0;
}

/* The container <div> - needed to position the dropdown content */

.dropdown {
  display: inline-block;
  text-align: center;
  font-weight: 400;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
  display: none;
  position: absolute;
  text-align: left;
  background-color: black;
  border: 1px solid white;
  min-width: 160px;
  z-index: 1;
  width: 500px;
  margin-left: 25px;
  border-radius: 5px;
  font-family: Montserrat;
  font-weight: 400;
  padding: 10px;
  margin-top: -2px;
  user-select: none;
}


/* Links inside the dropdown */

.dropdown-content a {
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
  text-align: center;
  background: none;
  font-weight: 400;
  width: 100%;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 19px;
  transition-duration: 0.3s;
  margin-top: 7px;
  position: static;
  box-sizing: border-box;
}
.dropdown-content a:hover{
  background-color: white;
  color: black;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

.show {
  display: block;
}


.column {
  flex: 50%;
}

#right{
  background: none;
  width: 50%;
  top: 0;
  height: 100%;
  padding-top: 150px;
  text-align: right;
  padding-right: 20px;
  float: right;
  font-weight: 400;
  position: fixed;
  left: 50%;
}
#left{
  margin-top: 100px;
  position: absolute;
  z-index: 2;
  padding-bottom: 80px;
}
h3{
  font-weight: 500;
  margin-right: 20px;
}
#img{
  width: 60%;
  margin-right: 30px;
  user-select: none;
  margin-bottom: -20%;
  margin: none;
  margin-top: -10%;
  pointer-events: none;
}